<div>
  <button (click)="func2ofB1()" >Boton 1</button>
  <button (click)="func2ofB2()">Boton 2</button>
  <button (click)="func2ofB3()">Boton 3</button>
</div>

<div class="content-option" [ngSwitch]="opcion">
  <div *ngSwitchCase="0">
    <h4>No se presionó el boton 1</h4>
    <h4>No se presionó el boton 2</h4>
    <h4>No se presionó el boton 3</h4>

  </div>
  <div *ngSwitchCase="1">
    <h4>Se presionó el boton 1</h4>
  </div>
  <div *ngSwitchCase="2">
    <h4>Se presionó el boton 2</h4>
  </div>
  <div *ngSwitchDefault>
    <h4>Se presionó el boton 3</h4>
  </div>
</div>
