div {
  width: 100%;
  text-align: center;
}

div button {
  width: 140px;
  height: 60px;
  padding: 16px 14px;
  background-color: rgb(191, 223, 236);
  color: black;
  border: 0px;
  margin: 0px 5px;
  border-radius: 7px;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid rgb(0, 132, 255);
}

/* .boton-g {
  background-color: gray!important;
  color: white!important;
} */

div button:hover {
  background-color: gray;
  color: rgb(255, 255, 255);
}

.content-option {
  margin-top: 20px;
}

h4 {
  color: black;
  font-size: 20px;
}
